.image-container {
    position: relative;
  
    img {
      width: 100%;
      height: 500px;
    }
  
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 99.1%;
      background-color: rgba(49, 24, 74, 0.544);
      z-index: 1;
    }
  }
  
.weldiv {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 360px;
    left: 580px;
    z-index: 9;
}

.tit {


    text-align: center;
    color: #FFF;
    font-family: IBM Plex Sans;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;

}

.tit2 {

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: #FFF;
    font-family: IBM Plex Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    bottom: 330px;
    left: 310px;
    z-index: 5;
}


.search-container {
  text-align: center;
  z-index: 5;
  position: absolute;
  bottom: 275px; /* Adjust the distance from the paragraph */
  left: 150px; /* Adjust the left position */
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;

  input[type="text"] {
    width: 730px;
    height: 25px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
  }

  .dropdowns {
    display: flex;
    flex: 1;
    height: 50px;
    
    select {
      flex: 1;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 30px;
    }
  }

  .search-button {
    flex: 0.5;
    margin-left: 20px;
    padding: 10px 20px;
    background-color: #2e006d;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    height: 45px;
    width: 150px;

    &:hover {
      background-color: #0056b3;
    }
  }
}



.allproviderss {
  border-radius: 0px;
background: var(--neutral-100, #00000000);
border-bottom: 2px solid #F3F4F6; 
width: 1270px;
// height: auto;
flex-shrink: 0;
align-items: center;
margin-left: 120px;
  list-style: none;
  margin-bottom: 10px;
  // animation: slideDownn 0.5s; 
  // transition: animation 0.5s;
}


// @keyframes slideDownn {
//   from {
//     opacity: 1;
//     transform: translateY(100%);
//   }
//   to {
//     opacity: 1;
//     transform: translateY(-100);
//   }
// }



.horizontal-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #6b728000;
}

.horizontal-list li {
  margin-top: 18px;
  flex: 1;
  text-align: center;
  padding: 10px;
  // gap: 30px;
  // border-right: 1px solid var(--neutral-500, #6B7280);
  color: var(--neutral-500, #6B7280);
  font-family: IBM Plex Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
}

.horizontal-list li:last-child {
  border-right: none;
}

.allproviders {
  border-radius: 23px;
background: var(--neutral-100, #F3F4F6);

width: 1270px;
height: 78px;
flex-shrink: 0;
align-items: center;
margin-left: 120px;
  list-style: none;
  margin-bottom: 10px;
}


.horizontal-list p {
  margin-top: 18px;
  flex: 1;
  text-align: center;
  // padding: 10px;
  // gap: 30px;
  // border-right: 1px solid var(--neutral-500, #6B7280);
  color: var(--neutral-500, #000000);
  font-family: IBM Plex Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
}

.horizontal-list p:last-child {
  border-right: none;
}

.lis{
  list-style: none;
  text-align: center;
  align-items: center;
 
}
#tx{
  font-weight: 400px;
}

.dd{
  background-color: #FFF;
  border-radius: 18px;
  padding: 10px;
  margin-left: 10px;
  align-items:center ;
  display: flex;
  height: 100%;
  flex:1;
  gap: 20px;
  display: flex;
  // flex-direction: column;
}

.org{
  position: relative;
  right: 40px;
}

.details-section{
  border-radius: 23px;
  background-color:#f9fafb;
    padding: 20px;
  width: 1230px;
  // height: auto;
  flex-shrink: 0;
  align-items: center;
  text-align: center;
  color: var(--neutral-500, #000000);
  font-family: IBM Plex Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
    list-style: none;
    display: flex;
    

    margin-bottom: 10px;
   
}

.branches-section{
  border-radius: 23px;
  background-color:#f9fafb;
  
    padding: 20px;
  width: 1230px;
  height: auto;
  
  align-items: center;
  text-align: center;
  color: var(--neutral-500, #000000);
  font-family: IBM Plex Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
    list-style: none;
    display: flex;
    list-style: none;
    flex: 1;
    margin-bottom: 10px;
  gap: 20px;
    
}
.branches-section ::content{
  display: flex;
  list-style: none;
  flex: 1;
}

.brndet{
color: #000000;
transition: color 0.2s;
flex: 1;
}

.brndet:hover{
  color: #6bbad7;
}

.btnbtn{
  margin: 10px;
  background: var(--primary-main-purple, #2C2966);
  display: inline-flex;
  height: 40px;
  padding: 10px 30px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;
  border-radius: 100px;
  color: #FFF;
  font-family: IBM Plex Sans;
  font-style: normal;
font-weight: 350;

  line-height: normal;
  transition: background-color 0.3s;
  border-style: none;
}

.btnbtn:hover {
  background-color: #514d9e;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}



.ddt{
  background-color: #FFF;
  border-radius: 18px;
  padding: 10px;
  margin-left: 10px;
  align-items:center ;
  display: flex;
  height: 100%;
  flex:1;
  gap: 20px;
  display: flex;
  flex-direction: column;
}