<div class="modal" [ngClass]="{'active': popupData.isPopupVisible}" >
    <div class="modal-content">
        <h3 class="txb">Please enter your<br> Insurance Number</h3>
        <h5 class="tx">Kindly share your insurance number so that <br> we can grant you access to the list of <br>
            network providers.</h5>

        <div class="inputdiv">
            <input type="text" placeholder="12345" class="inputs"><br><br><br>
        </div>
        <div class="divbut">
            <button class="btnn" (click)="gotoproviders()">Show Providers</button>
            <button (click)="closepopup()" class="btnn">Close Popup</button>
        </div>
    </div>
</div>