<html>
    <body>
<header class="navbar">
    <div class="navbar-icon">
        <img src="../assets/Frame.svg" id="imm">
    </div>
    <nav class="navbar-content">
        <a class="anav" routerLink="">Home</a>
        <a class="anav" routerLink="/about">About Us</a>
        <a class="anav" routerLink="/about">Our Services &nbsp;<img src="../assets/Path 25172.svg" width="14px"></a>
        <a class="anav" routerLink="/about" id="rkm"><img src="../assets/Icon.svg" width="12px" >&nbsp;   16066  &nbsp;&nbsp;&nbsp;&nbsp;<img src="../assets/language.svg" width="15px"></a>
    </nav>
</header>
</body>
</html>