/* ... (other styles) ... */

.navbar-icon {
    position: absolute;
    left: 20px;
    height: 48px;
    width: 100px;
}

.navbar {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center; 
    background-color: rgba(0, 0, 0, 0.334);
}

.navbar-content {
    display: flex;
    align-items: center;
    gap: 70px;
    padding-top: 27px;
    padding-bottom: 27px;
}



.anav {
    color: var(--neutral-50, #F9FAFB);
    text-decoration: none;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 18px;
    transition: color 0.25s ease-in-out; 
}

.anav:hover {
    color: #4fa0be; 
}


#rkm {
    position: relative; 
  left: 210px; 
}
